@font-normal     : 14px;
@font-titre      : 19px;
@font-sous       : 16px;
@font-petit      : 12px;

@color-text      : #fff;
@color1          : #CE0357;
@color2          : #502822;
@color3          : #E13DE5;


@font-root       : 12px;
@column-width    : unit((96px / @font-root), %);
@gutter-width    : unit((36px / @font-root), %); 

/** wrapper **/
.wrapper(@cols)
{
	width: @column-width * @cols;
	margin-left: auto;
	margin-right: auto;
}

/** Texte **/
body
{
	font: unit((@font-normal / @font-root), em) /1.5em Georgia, Serif;
	color: @color-text;
	padding:3%;
}

main{
	background-color: @color1;
}
article img{
	width: 100%;
	border: 5px #fff solid;
}
h1
{
	font-size: @font-titre;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 1em;
}
h2
{
	&:extend(h1);
	font-size: @font-sous;
}
p
{
	margin-bottom: 1.5em;
	font-size: @font-normal; 
	text-align:justify;
}

footer
{
	font-size: @font-petit; 
	background-color: @color2;
	padding:3%;
	
}

footer a{
	text-decoration:none;
	color:white;
}

/** menu **/
.btn()
{
	.btn
}

.btn{
	background-color:@color3;
	text-decoration:none;
	color: white;
	padding:10px;


}

.banner{
	padding:3%;
}

header{
	float:left;
	width:50%;
}

.main-nav{
	float:right;

}

main{
	padding:3%;
}

/** Logo **/
.logo {
	width:150px;
	display: block;
    margin-left: auto;
    margin-right: auto; 

}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/** Responsive **/
@media screen and (min-width:1000px) {
    .wrapper {
        width:75%;
        margin:0 auto;
    }
}

@media screen and (max-width:500px) {
    body{
    padding:0%;
    }

    .wrapper {
        width:100%;
        margin:0 auto;
    }
    .banner{
    padding: 0 0 5px 0;
    }
    header{
	float:none;
	width:inherit;
}
    nav{
    width:100%;

    }
    .main-nav{
	float:none;

}
    .btn{
    display:inline-block;
    width:100%;
    text-align:center;
    margin-bottom:1px;
    padding:0;

    }
    .main-footer{
    text-align:center;
    }
}
